@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html,
    body,
    body>div:first-child,
    div#__next,
    div#__next>div {
        @apply h-full w-full font-sans p-0 m-0;
    }
}

img,
video {
    max-width: none;
    height: auto;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

.react-datepicker-wrapper {
    width: auto !important;
}

.date-picker {
    border-radius: 0.375rem;
    border-color: transparent;
    width: 7.75rem;
    height: 2.5rem;
}

.date-picker:focus {
    border: 0;
    outline: transparent solid 0 !important;
}

.EmojiPickerReact button.epr-btn {
    --epr-emoji-padding: 3px;
    --epr-emoji-fullsize: 32px;
}

.EmojiPickerReact .epr-emoji-category-label {
    font-weight: 100;
}

.EmojiPickerReact .epr-search-container input.epr-search::placeholder {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: small;
}

.EmojiPickerReact li.epr-emoji-category>.epr-emoji-category-label {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: 500 !important;
    height: 30px !important;
}

.EmojiPickerReact .epr-category-nav {
    padding: 0 0 4px 0 !important;
}